<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to "MA Academy", root_path, class: "nav-link" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-classes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Classes
        </a>
        <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link-dd" href="#">Class Schedule</a>
          <a class="dropdown-item nav-link-dd" href="#">Join Class</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

      <% if !user_signed_in?%>

        <li class="nav-item">

          <%= link_to "Register Now!", new_user_registration_path, class: "nav-link" %>

        </li>

      <% end %>

      <% if user_signed_in?%>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, <%= current_user.first_name %> <%= current_user.last_name %>
        </a>
        <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item nav-link-dd" href="#">Rank History</a>
            <a class="dropdown-item nav-link-dd" href="#">Training Sylabus</a>

            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item nav-link-dd" %>
            <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item nav-link-dd", method: :delete %>

          </div>
        </li>

        <% else %>

          <li class="nav-item">

              <%= link_to "Login", new_user_session_path, class: "nav-link" %>

          </li>

        <% end %>

    </ul>
  </div>
</nav>
