<div class="container">
  <div class="row justify-content-center mt-5 mb-5 frame">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          MD Academy Registration
        </div>
        <div class="card-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">

            <%= f.label :first_name, "First Name:" %><br />
            <%= f.text_field :first_name, autofocus: true %>

          </div>
          <br />
          <div class="field">

            <%= f.label :last_name, "Last Name:" %><br />
            <%= f.text_field :last_name, autofocus: true %>

          </div>
          <br />
          <div class="field">

            <%= f.label :email, "Email:" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

          </div>
          <br />
          <div class="field">

            <%= f.label :password, "Password:" %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>

          </div>
          <br />
          <div class="field">

            <%= f.label :password_confirmation, "Confirm Password:" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

          </div>
          <br />
          <div class="actions">

            <%= f.submit "Register", class: "button_style" %>

          </div>

        <% end %>

        </div>
        <div class="card-footer">
          <div class="col d-flex justify-content-start align-items-center">

            <%- if controller_name != 'sessions' %>
              <%= link_to "Login", new_session_path(resource_name) %><br />
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
